html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

h1:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

.left, .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left {
    left: 0;
    background: url("img/truck.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.right {
    right: 0;
    background: url("img/corvette.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.title {
    font-family: Roboto, sans;
    text-align: center;
    font-size: 2rem; /* Use relative units */
    animation: totalFade 5s ease-in-out;
}

.left.title {
    text-shadow: 0px 0px 3px gold, 0px 0px 3px gold;
}

.right.title {
    text-shadow: 0px 0px 3px red, 0px 0px 3px red;
}

.title a {
    color: black;
    text-decoration: none;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .title {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem; /* Further adjust font size for very small screens */
    }
}